<div ng-if="!loading" class="row-fluid">
	<div class="span12">
		<h1>Выбор запчасти</h1>	
		
		<table class="table table-condensed table-hover table-bordered">
			<thead>
				<tr>
					<th>Номер</th>
					<th>Фирма</th>
					<th>Наименование запчасти</th>
					<th>Заказ</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<div class="buyWidget input-append pull-right">
							<input type="text" class="buyCount input-mini">
							<a href="" class="btn btn-mini"><i class="icon-shopping-cart"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>		
</div>