<h1>Интернет магазин автозапчастей</h1>
<hr>



<tabset>
    <tab heading="Главная страница">





<div class="row-fluid">	
	<div class="span8">

		<div class="row-fluid">
			<div class="span5">
				<img src="http://fakeimg.pl/200x150/eee/444/?text=No photo&font=Arial" alt="">
			</div>
			<div class="span7">
				
				<form action="" class="form-vertical">
						<div class="control-group required">
							<div class="controls">
								<select name="selectRepr" select-placeholder="asdsads"  ng-required="data.profile.contractType === 2"  
								ui-select2 ng-model="select2" class="input-large">
									<option value="0">автосервиса</option>
									<option value="1">автопарка</option>
									<option value="2">автомагазина</option>
									<option value="3">оптового склада</option>
									<option value="4">страховой компании</option>
								</select>
							</div>
						</div>
						<div class="control-group required">
							<div class="controls">
								<select name="selectRepr" select-placeholder="asdsads"  ng-required="data.profile.contractType === 2"  
								ui-select2 ng-model="select2" class="input-large">
									<option value="0">автосервиса</option>
									<option value="1">автопарка</option>
									<option value="2">автомагазина</option>
									<option value="3">оптового склада</option>
									<option value="4">страховой компании</option>
								</select>
							</div>
						</div>
						<div class="control-group required">
							<div class="controls">
								<select name="selectRepr" select-placeholder="asdsads"  ng-required="data.profile.contractType === 2"  
								ui-select2 ng-model="select2" class="input-large">
									<option value="0">автосервиса</option>
									<option value="1">автопарка</option>
									<option value="2">автомагазина</option>
									<option value="3">оптового склада</option>
									<option value="4">страховой компании</option>
								</select>
							</div>
						</div>
						<div class="control-group required">
							<div class="controls">
								<select name="selectRepr" select-placeholder="asdsads"  ng-required="data.profile.contractType === 2"  
								ui-select2 ng-model="select2" class="input-large">
									<option value="0">автосервиса</option>
									<option value="1">автопарка</option>
									<option value="2">автомагазина</option>
									<option value="3">оптового склада</option>
									<option value="4">страховой компании</option>
								</select>
							</div>
						</div>



				</form>



			</div>
		</div>
		
			


		<h4>Новости</h4>
		<hr>


		<div class="row-fluid">
			<div class="span6">
				<img src="http://fakeimg.pl/246x100/eee/444/?text=No photo&font=Arial" class="img-polaroid margin-right margin-bottom pull-left" alt=""> 
				<br clear=all>
				<strong>Lorem ipsum dolor.</strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio cupiditate nostrum atque ad? </p>


			</div>
			<div class="span6">
				<img src="http://fakeimg.pl/246x100/eee/444/?text=No photo&font=Arial" class="img-polaroid margin-right margin-bottom pull-left" alt=""> 
				<br clear=all>
				<strong>Lorem ipsum dolor.</strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio cupiditate nostrum atque ad? </p>

			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<img src="http://fakeimg.pl/246x100/eee/444/?text=No photo&font=Arial" class="img-polaroid margin-right margin-bottom pull-left" alt=""> 
				<br clear=all>
				<strong>Lorem ipsum dolor.</strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio cupiditate nostrum atque ad? </p>

			</div>
			<div class="span6">
				<img src="http://fakeimg.pl/246x100/eee/444/?text=No photo&font=Arial" class="img-polaroid margin-right margin-bottom pull-left" alt=""> 
				<br clear=all>
				<strong>Lorem ipsum dolor.</strong><br>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio cupiditate nostrum atque ad? </p>

			</div>
		</div>

		<h4>Статьи</h4>
		<hr>

	</div>
	<div class="span4">
		<div class="well well-small">
			<strong>Информация для покупателей</strong>
			<ul>
				<li><i class="icon-eur icon-fixed-width"></i> <a href="">Оплата заказа</a></li>
				<li><i class="icon-eur icon-fixed-width"></i> <a href="">Доставка</a></li>
				<li><i class="icon-eur icon-fixed-width"></i> <a href="">Возврат товара</a></li>
			</ul>			
		</div>

		<div class="well well-small">
			<strong>Узнать больше</strong>
		</div>
		
		<div class="well well-small">
			<strong>Случайный товар</strong>
		</div>

	</div>
</div>



</tab>
    <tab heading="Каталог" >
		<div ng-init="src='/views/cat.html'; isFront=true" ng-controller="MainCtrl" ng-include="src"></div>
    </tab>
    <tab heading="По автомобилю">

    </tab>
  </tabset>