<h1>{{ data.article.ART_ARTICLE_NR }} {{ data.article.TEX_TEXT }}</h1>

<p>{{ data.article.TEX_TEXT }}</p>

<a ui-sref="cat.search({ search : data.article.ART_ARTICLE_NR })">Показать все аналоги и варианты поставок для запчасти {{ data.article.ART_ARTICLE_NR }}</a>

<div class="pull-right">								
		<div class="buyWidget input-append">
			<input type="text" class="buyCount input-mini">
			<a href="" class="btn btn-mini"><i class="icon-shopping-cart"></i></a>
		</div>
		<a href="" class="btn btn-mini"><i class="icon-bookmark-empty"></i></a>
</div>

<hr>


 <tabset>
    <tab>
		<tab-heading>
			Харрактеристики
		</tab-heading>
		<table class="table table-condensed table-hover ">
			<tr>
				<td>Выталкивающая сила [N]</td>
				<td>123</td>
			</tr>
			<tr>
				<td>Длинна [N]</td>
				<td>123</td>
			</tr>
			<tr>
				<td>Высота подъема [N]</td>
				<td>123</td>
			</tr>
		</table>

    </tab>
    <tab>
      <tab-heading>
        Номера оригиналов
      </tab-heading>

    </tab>
    <tab>
      <tab-heading>
        Применимость запчасти к автомобилям
      </tab-heading>

    </tab>
  </tabset>

  <hr>
<div class="row-fluid">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
</div>
<br>
<div class="row-fluid">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
  <img src="http://dummyimage.com/140x140/5c575c/fff.png&text=image" alt="" class="img-polaroid span2">
</div>