
.icon-facebook-rect:before { content: '\e800'; } /* '' */
.icon-twitter-bird:before { content: '\e801'; } /* '' */
.icon-googleplus-rect:before { content: '\e802'; } /* '' */
.icon-yandex:before { content: '\e803'; } /* '' */
.icon-vkontakte-rect:before { content: '\e804'; } /* '' */